<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>contact</title>
</head>
<body>
<h1>CONTACT PAGE</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem earum ex id libero modi obcaecati officiis porro quos velit voluptas. Animi cum dolores fugit ipsa omnis provident quam tempore veniam?</span><span>Accusantium asperiores at rerum sint. Aspernatur, corporis facilis harum inventore obcaecati quaerat quisquam? Ab adipisci aspernatur dolorum eius esse iusto molestiae officia quasi. Aliquam ipsam modi non, obcaecati pariatur ratione!</span></p>
</body>
</html>