<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>PROPERTY LISTINGS.</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem, consectetur deserunt, doloremque fugit inventore mollitia nihil repudiandae soluta, suscipit totam ut vero voluptatum. Amet doloremque ex ipsam officia repellat?</span><span>Ad aut consequuntur deleniti deserunt inventore iusto laborum necessitatibus nemo obcaecati optio quod tempore, veniam veritatis. Aliquid asperiores, commodi consectetur excepturi in laboriosam maxime quas quisquam ratione, tenetur totam velit.</span></p>
<img src="{% static 'images/property2.png' %}" alt="">
<img src="{% static 'images/property3.png' %}" alt="">
<img src="{% static 'images/property4.png' %}" alt="">
<img src="{% static 'images/property5.png' %}" alt="">
<img src="{% static 'images/property6.png' %}" alt="">
<img src="{% static 'images/property7.png' %}" alt="">
<img src="{% static 'images/property8.png' %}" alt="">
<img src="{% static 'images/property9.png' %}" alt="">

</body>
</html>