<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% load static %}

    <style>
       h1{
           text-align: center;
           color: #4ac1f7;
           background-color: #1b1b1b;
           font-size: 60px;
           line-height: 80px;
           text-shadow: 4px 4px 8px yellowgreen;
       }


    </style>




</head>
<body>
<h1>BrickFolio Web Application</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium consequuntur dolorem ea explicabo facere inventore non sunt velit? A ad aperiam architecto beatae delectus ea incidunt nihil quasi vel?</span><span>Amet debitis earum eius non optio totam unde vitae? Accusamus accusantium, animi asperiores consectetur consequuntur deleniti earum expedita ipsam itaque molestias nam, nihil placeat porro quaerat quibusdam quod similique veniam?</span><span>Atque culpa laudantium molestiae. Aliquam aliquid, consectetur delectus deserunt dolore dolorum et eum eveniet exercitationem id labore, laborum molestias nam officia quae quidem sed tempora ullam unde ut velit veniam!</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cupiditate dolore eos esse in, obcaecati odit possimus quam quasi quia quos ratione recusandae sint sunt tempora tempore ut vero. Modi.</span><span>Architecto dolorem, doloremque dolorum ea earum expedita fugiat fugit id illo illum impedit ipsum itaque iure iusto nam necessitatibus nemo, nesciunt nisi perferendis quam, quidem sequi sint ut vitae voluptate?</span></p>

<img src="{% static 'images/property.png' %}" alt="">







</body>
</html>